{% comment %} <nav class="navbar navbar-inverse">
    <div class="container-fluid ">
  
  <!-- HEader -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar"> 
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">BIRMINGHAM'S TRAVELERS MEET UP</a>
      </div> 
  
      <!-- Items-->
      <div class="collapse navbar-collapse" id="topNavBar">
        <ul class="nav navbar-nav">
            <!-- If user is authenticated, display Logout link, else display Register and Login links --> 
            {% if user.is_authenticated %}
  
            <li class="active">
              <a href="{% url 'account_logout' %}">{{ user.username }}</a>
            </li> 
            {% else %} 
  
            <li class="">
              <a href="{% url 'account_signup' %}">Register</a>
            </li>
  
            <li class="">
              <a  href="{% url 'account_login' %}"> Login </a>
            </li> 
            {% endif %}
  
            <li class=" {% if page == 'Game' %}active{% endif %}">
              <a href="{% url 'Game' %}">Quiz</a>
            </li>
  
            <!-- Gallery link -->
            <li class=" {% if page == 'gallery' %}active{% endif %}">
              <a href="{% url 'gallery' %}" aria-label="Go to Gallery page (opens in current tab)">Gallery</a>
            </li>
  
            <!-- Events link (commented out) -->
            <li class="">
              <a href="#anchor-name">Events</a>
            </li>               
        </ul>
  
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
  
          <li class="active">
            <a class="nav-link" href="{% url 'account_logout' %}">{{ user.username }}</a>
          </li> 
          {% else %} 
  
          <li class="n">
            <a href="{% url 'account_signup' %}">Register</a>
          </li>
  
          <li class="">
            <a href="{% url 'account_login' %}"> Login </a>
          </li> 
          {% endif %}
  
      </div>
    </div>
</nav> {% endcomment %}