{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}
{% block content %}
  <div class="container my-5">
    <h2 class="text-center mb-5">Travel Gallery</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{% static 'img/gallery1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Istanbul, Turkey</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{% static 'img/gallery2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Santorini, Greece</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{% static 'img/gallery3.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tokyo, Japan</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
